
<div class="container">
 
  <div class="row ">
    <div class="col-md-4"></div>
    <div class="displayTable">
        <div class="container">
      
          <div class="authBlock">
            
         </div>
      </div>
      
      </div>
      <br>
    <div class="col-md-4 jumbotron">
      
      <input type="email" class="form-control" placeholder="user email"  #userName required>
      <br>
      <input type="password" class="form-control" placeholder="Password" #userPassword required>
      <br>

      <div class="row">
        <div class="col-md-3">
          <div class="formGroup">
            <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>
        </div>
        <div class="col-md-7">
          <div class="formGroup">
            <button type="button" class="btn btn-outline-danger" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Log in with Google
            </button>
          </div>
        </div>
      </div>
     
      <br>
      
      
    <div class="redirectToLogin">
      <span>Don't have an account?<a class="redirect btn " routerLink="/register-user"> Sign Up</a></span>
    </div>

    <div class="forgotPassword">
      <a routerLink="/forgot-password">Forgot Password?</a>
    </div>
  
    
    </div>
    </div>
    <div class="col-md-4"></div>
  </div>
